@import '../../settings/settings.all';
@import '../pager/pager.scss';

body.search-result-page {
  .content-body {
    display: none;
  }
}

// Search result
.main-content-wrapper {
  .paragraph--type--blocks {
    .search-form-wrapper {
      max-width: 100%;
      margin: 0 auto;
      padding: 0 18px;
      padding-right: 25px;
      @include breakpoint(tablet) {
        max-width: 630px;
        padding: 0;
      }

      form {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        position: relative;
        label {
          display: none;
        }
        .form-item-search {
          flex: 0 0 90%;

          input.form-text {
            height: 32px;
            padding: 2px 40px 2px 18px;
            background: $White;
            border-radius: 6px;
            width: 100%;
            box-shadow: none;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            font-family: $HelveticaRegular;
            color: $BostonBlue;
            border-radius: 6px;
            border: 2px solid $BostonGray;
            @include breakpoint(small-desktop) {
              height: 52px;
              font-size: 18px;
              line-height: 28px;
            }
            &:focus {
              outline: 0.5px none;
            }
            &::-webkit-input-placeholder {
              /* Chrome/Opera/Safari */
              font-size: 18px;
              font-style: normal;
              font-weight: 400;
              line-height: 28px;
              font-family: $HelveticaRegular;
              color: $BostonGray;
              overflow: visible;
              font-style: italic;
              position: relative;
              top: 2px;
            }
            &::-moz-placeholder {
              /* Firefox 19+ */
              font-size: 18px;
              font-style: normal;
              font-weight: 400;
              line-height: 28px;
              font-family: $HelveticaRegular;
              color: $BostonGray;
              font-style: italic;
              position: relative;
              top: 2px;
            }
            &:-ms-input-placeholder {
              /* IE 10+ */
              font-size: 18px;
              font-style: normal;
              font-weight: 400;
              line-height: 28px;
              font-family: $HelveticaRegular;
              color: $BostonGray;
              font-style: italic;
              position: relative;
              top: 2px;
            }
            &:-moz-placeholder {
              /* Firefox 18- */
              font-size: 18px;
              font-style: normal;
              font-weight: 400;
              line-height: 28px;
              font-family: $HelveticaRegular;
              color: $BostonGray;
              font-style: italic;
              position: relative;
              top: 2px;
            }
          }
        }

        .form-actions {
          .form-submit {
            border: none;
            font-size: 0;
            line-height: 0;
            background: url('../../../../icons/ocean_search.svg');
            background: url('../../../../icons/pink_search.svg');
            width: 23px;
            height: 21px;
            margin-left: 16px;
            background-repeat: no-repeat;
            background-position: center;
            position: relative;
            top: -2px;
            cursor: pointer;
            @include breakpoint(tablet) {
              margin-left: 20px;
            }
            &:hover,
            &:focus {
              background: url('../../../../icons/ocean_search.svg');
              background-repeat: no-repeat;
              background-position: center;
              width: 23px;
              height: 21px;
            }
          }
          #edit-reset {
            display: none;
          }
        }

        .reset {
          font-size: 0;
          line-height: 0;
          background: url('../../../../icons/blue_cross.svg');
          background: url('../../../../icons/pink_cross.svg');
          width: 28px;
          height: 28px;
          margin-left: 20px;
          background-repeat: no-repeat;
          background-position: center;
          display: inline-block;
          position: absolute;
          right: 12.5%;
          cursor: pointer;
          &.hidden {
            display: none;
          }
          &:hover,
          &:focus {
            background: url('../../../../icons/blue_cross.svg');
            background-repeat: no-repeat;
            background-position: center;
            width: 28px;
            height: 28px;
          }
        }
      }
    }
  }
}

.search-result-page-wrapper {
  max-width: 740px;
  margin: 32px auto;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  padding: 0 18px;

  @include breakpoint(small-desktop) {
    margin: 64px auto;
    max-width: 1066px;
    flex-wrap: nowrap;
  }

  header {
    position: relative !important;
    top: 0 !important;
    left: 0 !important;
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    line-height: 22px;
    font-family: $HelveticaRegular;
    color: $BostonGray;
    margin-bottom: 24px;
    z-index: 2;
  }

  .views-row {
    float: left;
    width: 100%;
    position: relative;
    &:last-of-type {
      border-bottom: 2px solid $BostonGrayTint;
    }
    &:last-child {
      margin-bottom: 0;
    }
    .search-result-item {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      padding: 24px;
      align-items: center;
      border-top: 2px solid $BostonGrayTint;
      word-wrap: break-word;
      position: relative;

      @include breakpoint(small-desktop) {
        padding: 24px 0;
      }

      &.noimage {
        padding: 24px;
        @include breakpoint(tablet) {
          padding: 48px 24px;
        }
        .card_content_wrapper {
          flex: 0 0 100%;
        }
      }

      &.hasimage {
        .card_image {
          flex: 0 0 100%;
          @include breakpoint(tablet) {
            flex: 0 0 32%;
            margin-bottom: 0px;
          }
        }
        .card_content_wrapper {
          padding: 0;
          flex: 0 0 100%;
          @include breakpoint(tablet) {
            padding: 24px;
            flex: 0 0 68%;
          }
        }
      }

      .card_image {
        margin-bottom: 24px;
        img {
          max-width: 327px;
          width: 100%;
          object-fit: cover;
          border-radius: 6px;
        }
        @include breakpoint(small-desktop) {
          margin-bottom: 0px;
        }
      }

      .card_eyebrow {
        font-size: rem(13);
        line-height: 16.25px;
        text-transform: uppercase;
        color: $BostonOcean;
        font-family: $HelveticaBold;
        margin-bottom: 16px;
        word-wrap: break-word;
        @include breakpoint(small-desktop) {
          font-size: rem(15);
          line-height: 18.75px;
        }
      }

      .card_title {
        margin-bottom: 4px;
        a {
          font-size: 24px;
          font-style: normal;
          font-weight: 700;
          line-height: 32px;
          display: block;
          color: $BostonBlue;
          font-family: $MuseoSansBold;
          text-decoration: none;
          text-transform: capitalize;
          margin-bottom: 4px;
          @include breakpoint(small-desktop) {
            font-size: 28px;
            line-height: 36px;
          }
        }
      }

      .card_des {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        margin-bottom: 16px;
        color: $BostonGray;
        &.no-date {
          margin-bottom: 0;
        }
        @include breakpoint(small-desktop) {
          font-size: 18px;
          line-height: 28px;
        }
      }

      .publication_date {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        color: $BostonGray;
        @include breakpoint(small-desktop) {
          font-size: 16px;
          line-height: 24px;
        }
      }

      &:hover {
        &:before {
          content: '';
          height: 2px;
          width: 100%;
          position: absolute;
          top: -2px;
          left: 0;
          display: inline-block;
          background: $BostonPink;
          z-index: 1;
        }

        &:after {
          content: '';
          height: 2px;
          width: 100%;
          position: absolute;
          bottom: -2px;
          left: 0;
          display: inline-block;
          background: $BostonPink;
          z-index: 1;
        }
        .card_title {
          a {
            color: $BostonPink;
          }
        }
      }
    }

    .box_link {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      font-size: 0;
      &:focus-visible {
        z-index: 4;
      }
    }
  }

  footer {
    position: relative !important;
    top: 0 !important;
    left: 0 !important;
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    line-height: 22px;
    font-family: $HelveticaRegular;
    color: $BostonGray;
    background: $White;
    margin-top: 16px;
    z-index: 2;
    margin-bottom: 0px;
    padding: 0;
    text-align: center;
  }
}

.no_result_found_wraper {
  .headline {
    font-family: $HelveticaRegular;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    color: #404040;
    margin-bottom: 12px;
    @include breakpoint(small-desktop) {
      font-size: rem(28);
      line-height: 42px;
      margin-bottom: 20px;
    }
  }
  .no-result-bottom-wrapper {
    p {
      font-size: rem(16);
      line-height: 24px;
      margin: 0;
      padding-top: 0;
      padding-bottom: 12px;
      @include breakpoint(small-desktop) {
        font-size: rem(18);
        line-height: 28px;
        padding-bottom: 20px;
      }
    }
    ol,
    ul {
      margin-top: 0;
      margin-bottom: 12px;
      li {
        font-size: rem(16);
        line-height: 24px;
        @include breakpoint(small-desktop) {
          font-size: rem(18);
          line-height: 28px;
          margin-bottom: 20px;
        }
      }
    }
  }
}
