@import '../../settings/settings.all';
@import '../pager/pager.scss';

// Search result
.main-content-wrapper {
  .paragraph--type--blocks {
    .search-form-wrapper {
      max-width: 100%;
      margin: 0 auto;
      padding: 0 18px;
      padding-right: 25px;
      @include breakpoint(tablet) {
        max-width: 630px;
        padding: 0;
      }

      form {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        position: relative;
        label {
          display: none;
        }
        .form-item-search {
          flex: 0 0 90%;

          input.form-text {
            height: 32px;
            padding: 2px 40px 2px 18px;
            background: $White;
            border-radius: 6px;
            width: 100%;
            box-shadow: none;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            font-family: $HelveticaRegular;
            color: $BostonBlue;
            border-radius: 6px;
            border: 2px solid $BostonGray;
            @include breakpoint(small-desktop) {
              height: 52px;
              font-size: 18px;
              line-height: 28px;
            }
            &:focus {
              outline: 0.5px none;
            }
            &::-webkit-input-placeholder {
              /* Chrome/Opera/Safari */
              font-size: 18px;
              font-style: normal;
              font-weight: 400;
              line-height: 28px;
              font-family: $HelveticaRegular;
              color: $BostonGray;
              font-style: italic;
            }
            &::-moz-placeholder {
              /* Firefox 19+ */
              font-size: 18px;
              font-style: normal;
              font-weight: 400;
              line-height: 28px;
              font-family: $HelveticaRegular;
              color: $BostonGray;
              font-style: italic;
            }
            &:-ms-input-placeholder {
              /* IE 10+ */
              font-size: 18px;
              font-style: normal;
              font-weight: 400;
              line-height: 28px;
              font-family: $HelveticaRegular;
              color: $BostonGray;
              font-style: italic;
            }
            &:-moz-placeholder {
              /* Firefox 18- */
              font-size: 18px;
              font-style: normal;
              font-weight: 400;
              line-height: 28px;
              font-family: $HelveticaRegular;
              color: $BostonGray;
              font-style: italic;
            }
          }
        }

        .form-actions {
          .form-submit {
            border: none;
            font-size: 0;
            line-height: 0;
            background: url('../../../../icons/ocean_search.svg');
            background: url('../../../../icons/pink_search.svg');
            width: 36px;
            height: 52px;
            margin-left: 10px;
            background-repeat: no-repeat;
            background-position: center;
            position: relative;
            top: -2px;
            cursor: pointer;
            @include breakpoint(tablet) {
              margin-left: 20px;
            }
            &:hover,
            &:focus {
              background: url('../../../../icons/ocean_search.svg');
              background-repeat: no-repeat;
              background-position: center;
            }
          }
          #edit-reset {
            display: none;
          }
        }

        .reset {
          font-size: 0;
          line-height: 0;
          background: url('../../../../icons/blue_cross.svg');
          background: url('../../../../icons/pink_cross.svg');
          width: 24px;
          height: 36px;
          margin-left: 20px;
          background-repeat: no-repeat;
          background-position: center;
          display: inline-block;
          position: absolute;
          right: 11.5%;
          cursor: pointer;
          &:hover,
          &:focus {
            background: url('../../../../icons/blue_cross.svg');
            background-repeat: no-repeat;
            background-position: center;
            width: 24px;
            height: 36px;
          }
        }
      }
    }
  }
}

.search-result-page-wrapper {
  max-width: 740px;
  margin: 32px auto;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  padding: 0 18px;

  @include breakpoint(small-desktop) {
    margin: 64px auto;
    max-width: 1066px;
  }

  header {
    position: relative !important;
    top: 0 !important;
    left: 0 !important;
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    line-height: 22px;
    font-family: $HelveticaRegular;
    color: $BostonGray;
    margin-bottom: 24px;
    z-index: 2;
  }

  .views-row {
    float: left;
    width: 100%;
    position: relative;
    &:last-of-type {
      border-bottom: 2px solid $BostonGrayTint;
      margin-bottom: 16px;
    }
    .search-result-item {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      padding: 24px;
      align-items: center;
      border-top: 2px solid $BostonGrayTint;
      word-wrap: break-word;

      @include breakpoint(small-desktop) {
        padding: 24px 0;
      }

      &.noimage {
        padding: 24px;
      }

      &.hasimage {
        .card_content_wrapper {
          padding: 0;
          @include breakpoint(tablet) {
            padding: 0 24px;
          }
        }
      }

      .card_image {
        margin-bottom: 24px;
        img {
          max-width: 327px;
          width: 100%;
          object-fit: cover;
          border-radius: 6px;
        }
        @include breakpoint(small-desktop) {
          margin-bottom: 0px;
        }
      }

      .card_eyebrow {
        font-size: rem(13);
        line-height: 16.25px;
        text-transform: uppercase;
        color: $BostonOcean;
        font-family: $HelveticaBold;
        margin-bottom: 16px;
        word-wrap: break-word;
        @include breakpoint(small-desktop) {
          font-size: rem(15);
          line-height: 18.75px;
        }
      }

      .card_title {
        a {
          font-size: 24px;
          font-style: normal;
          font-weight: 700;
          line-height: 32px;
          display: block;
          color: $BostonBlue;
          font-family: $MuseoSansBold;
          text-decoration: none;
          text-transform: capitalize;
          margin-bottom: 4px;
          @include breakpoint(small-desktop) {
            font-size: 28px;
            line-height: 36px;
          }
        }
      }

      &:hover {
        .card_title {
          a {
            color: $BostonPink;
          }
        }
      }
    }

    .box_link {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      font-size: 0;
    }
  }

  footer {
    position: relative !important;
    top: 0 !important;
    left: 0 !important;
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    line-height: 22px;
    font-family: $HelveticaRegular;
    color: $BostonGray;
    background: $White;
    margin-top: 0px;
    z-index: 2;
    margin-bottom: 0px;
    padding: 0;
    text-align: center;
  }
}
