// Breakpoints
$mobile: 0 767px;
$tablet: 768px 1024px;
$small-desktop: 1025px 1439px;
$desktop: 1440px;

// Mixin for media queries
@mixin breakpoint($device) {
  @if $device == mobile {
    @media (max-width: 767px) {
      @content;
    }
  } @else if $device == tablet {
    @media (min-width: 768px) {
      @content;
    }
  } @else if $device == small-desktop {
    @media (min-width: 1025px) {
      @content;
    }
  } @else if $device == desktop {
    @media (min-width: 1440px) {
      @content;
    }
  }
}
