// Font Variables
$MuseoSans: 'MuseoSans', sans-serif;
$MuseoSansSemiBold: 'MuseoSansSemiBold', sans-serif;
$MuseoSansBold: 'MuseoSansBold', sans-serif;
$MuseoSansItalic: 'MuseoSansItalic', sans-serif;
$MuseoSansBoldItalic: 'MuseoSansBoldItalic', sans-serif;
$HelveticaRegular: 'HelveticaRegular', Arial, sans-serif;
$HelveticaBold: 'HelveticaBold', Arial, sans-serif;
$HelveticaOblique: 'HelveticaOblique', Arial, sans-serif;
$HelveticaBoldOblique: 'HelveticaBoldOblique', Arial, sans-serif;

$base-font: 16;
