h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $MuseoSansBold;
  margin: 0;
  font-weight: normal;
}

h1 {
  font-size: 2rem;
  line-height: 42px;
  @include breakpoint(small-desktop) {
    font-size: 3.25rem;
    line-height: 64px;
  }
}
h1.small {
  font-size: 2.25rem;
  line-height: 44px;
}

h2 {
  font-size: 1.75rem;
  line-height: 36px;
  @include breakpoint(small-desktop) {
    font-size: 2rem;
    line-height: 42px;
  }
}

h3 {
  font-size: 1.5rem;
  line-height: 32px;
  @include breakpoint(small-desktop) {
    font-size: 1.75rem;
    line-height: 36px;
  }
}

h4 {
  font-size: 1.25rem;
  line-height: 32px;
  @include breakpoint(small-desktop) {
    font-size: 1.5rem;
    line-height: 32px;
  }
}
h5 {
  font-size: 1.125rem;
  line-height: 24px;
  @include breakpoint(small-desktop) {
    font-size: 1.25rem;
    line-height: 26px;
  }
}

h6 {
  font-size: 1.125rem;
  line-height: 24px;
}
h6.sub-heading {
  font-size: 1rem;
  line-height: 22px;
}
