h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $MuseoSansBold;
  margin: 0;
  font-weight: 700;
}

h1 {
  font-size: 52px;
  line-height: 64px;
}
h2 {
  font-size: 36px;
  line-height: 44px;
}
h3,
.t3 {
  font-size: 32px;
  line-height: 42px;
}
h4,
.t4 {
  font-size: 28px;
  line-height: 36px;
}
h5,
.t5 {
  font-size: 24px;
  line-height: 32px;
}
h6,
.t6 {
  font-size: 20px;
  line-height: 26px;
}
.t7 {
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
}
.t8 {
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
}
