@import '../../settings/settings.all';
.paragraph--type--image-with-caption {
  padding: 0px 18px;
  @include breakpoint(small-desktop) {
    padding: 0px;
  }

  img {
    width: 100%;
    height: auto;
    border-radius: 6px;
  }

  .caption-text-wrapper {
    color: $BostonGray;
    font-family: $HelveticaRegular;
    font-style: italic;
    font-size: 0.75rem;
    padding: 8px 0px 4px 0px;
    line-height: 22px;
    margin: 0px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    p {
      padding: 0px;
      margin: 0px;
      margin-left: 10px;
      font-size: 0.75rem;
      line-height: 22px;
      @include breakpoint(small-desktop) {
        font-size: 0.875rem;
        line-height: 22px;
      }
    }

    ol {
      padding-inline-start: 0;
      list-style-position: inside;
      padding-left: 10px;
      margin-bottom: 0;
      li {
        padding-bottom: 12px;
        list-style-type: decimal;
        &:last-child {
          padding: 0;
        }
        ol {
          padding-top: 12px;
          padding-inline-start: 32px;
          @include breakpoint(desktop) {
            padding-inline-start: 35px;
          }
          li {
            padding-bottom: 12px;
            list-style-type: lower-alpha;
            &:last-child {
              padding: 0;
            }
            ol {
              padding-inline-start: 16px;
              @include breakpoint(desktop) {
                padding-inline-start: 35px;
              }
              li {
                padding-bottom: 12px;
                list-style-type: lower-roman;
                &:last-child {
                  padding: 0;
                }
              }
            }
          }
        }
      }
    }
    ul {
      padding-inline-start: 0;
      list-style-position: inside;
      padding-left: 10px;
      margin-bottom: 0;
      li {
        list-style-type: none;
        padding-bottom: 12px;
        &:last-child {
          padding: 0;
        }
        &::before {
          content: url('../../../../icons/rectangle.svg');
          display: inline-block;
          padding-right: 12px;
        }
        ul {
          padding-top: 12px;
          padding-inline-start: 32px;
          @include breakpoint(desktop) {
            padding-inline-start: 35px;
          }
          li {
            list-style-type: none;
            padding-bottom: 12px;
            &:last-child {
              padding: 0;
            }
            &::before {
              content: url('../../../../icons/ellipse.svg');
              display: inline-block;
              padding-right: 12px;
            }
            ul {
              padding-inline-start: 16px;
              @include breakpoint(desktop) {
                padding-inline-start: 35px;
              }
              li {
                list-style-type: none;
                padding-bottom: 12px;
                &:last-child {
                  padding: 0;
                }
                &::before {
                  content: url('../../../../icons/polygon.svg');
                  display: inline-block;
                  padding-right: 12px;
                }
              }
            }
          }
        }
      }
    }

    @include breakpoint(small-desktop) {
      font-size: 0.875rem;
      line-height: 22px;
      padding: 14px 0px 6px 0px;
    }
    &::before {
      content: '';
      min-width: 3px;
      width: 3px;
      background-color: $BostonOcean;
      display: block;
      margin-right: 10px;
      position: absolute;
      height: fit-content;
      min-height: 34px;
      height: calc(100% - 20px);
    }
  }
}
