@import '../../settings/settings.all';

.paragraph--type--hero-interior-pages {
  position: relative;
  margin-bottom: 12px;
  @include breakpoint(small-desktop) {
    margin-bottom: 32px;
  }

  .hero_banner_wrapper {
    position: relative;

    &.noimage {
      .hero_no_image {
        min-height: 48px;
        background-color: $BostonSkyTint2;

        @include breakpoint(small-desktop) {
          min-height: 96px;
        }
      }
    }

    .hero_image {
      min-height: 160px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;

      @include breakpoint(small-desktop) {
        min-height: 400px;
      }
    }

    .hero_banner_content {
      max-width: 840px;
      margin: 0 auto;
      background: $White;
      position: relative;
      top: -20px;
      border-radius: 6px;
      text-align: center;
      padding: 20px 20px 0 20px;
      margin: 0 18px;

      @include breakpoint(small-desktop) {
        max-width: 850px;
        top: -32px;
        padding: 32px 32px 0px 32px;
        margin: auto;
      }

      h1 {
        color: $BostonBlue;
        text-transform: capitalize;
      }

      .cta_group {
        margin-top: 16px;

        @include breakpoint(small-desktop) {
          margin-top: 32px;
        }
        span.cta {
          display: block;

          @include breakpoint(small-desktop) {
            display: inline-block;
          }

          .btn,
          .btn-transparent {
            font-size: 16px;
            line-height: 20.8px;
            padding: 10px 18px;
            text-transform: capitalize;

            @include breakpoint(small-desktop) {
              font-size: rem(18);
              line-height: 22px;
              padding: 15px 25px;
            }
          }
          &.cta_btn_2 {
            margin-top: 8px;
            @include breakpoint(small-desktop) {
              margin-left: 24px;
              margin-top: 0px;
            }
          }
        }
      }
    }
  }
}
