{% if site_setting_field('article_listing_no_results_setti', 'field_no_results_message').0 and site_setting_field('article_listing_no_results_setti', 'field_no_results_message')['#is_multiple'] == false %}
  <div class="richtext paragraph--type--rich-text no-result">{{ site_setting_field('article_listing_no_results_setti', 'field_no_results_message').0 }}</div>
{% endif %}