@import '../../settings/settings.all';

.paragraph--type--impact-stats {
  position: relative;
  max-width: 1284px;
  padding: 0 18px;
  margin: 0 auto;

  @include breakpoint(desktop) {
    padding: 0;
  }

  .impactstate_top_wrapper {
    .title {
      font-size: rem(28);
      font-style: normal;
      font-weight: 700;
      line-height: 36px;
      font-family: $MuseoSansBold;
      color: $BostonBlue;
      margin-bottom: 20px;
      @include breakpoint(small-desktop) {
        font-size: rem(32);
        line-height: 42px;
      }
    }
    .des {
      margin-bottom: 24px;
      max-width: 100%;
      @include breakpoint(tablet) {
        max-width: 75%;
        margin-bottom: 32px;
      }
      p {
        font-size: rem(16);
        line-height: 24px;
        margin-top: 0;
        padding: 0;
        margin-bottom: 24px;
        @include breakpoint(small-desktop) {
          font-size: rem(18);
          line-height: 28px;
        }
      }
    }
  }

  .state_item_wrapper {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    column-gap: 0px;
    justify-content: space-between;
    align-items: stretch;

    @include breakpoint(small-desktop) {
      flex-wrap: nowrap;
    }

    @include breakpoint(tablet) {
      column-gap: 24px;
    }

    &.num_of_state_1 {
      > .state__item {
        flex: 0 0 100%;
        @include breakpoint(tablet) {
          margin-bottom: 0px;
        }
      }
    }

    &.num_of_state_2 {
      > .state__item {
        flex: 0 0 100%;
        @include breakpoint(tablet) {
          flex: 0 0 48%;
          margin-bottom: 0px;
        }
      }
    }

    &.num_of_state_3 {
      > .state__item {
        flex: 0 0 100%;
        @include breakpoint(tablet) {
          flex: 0 0 31%;
          margin-bottom: 0px;
        }
        @include breakpoint(small-desktop) {
          flex: 0 0 31.5%;
          margin-bottom: 0px;
        }
      }
    }

    &.num_of_state_4 {
      > .state__item {
        flex: 0 0 100%;
        @include breakpoint(tablet) {
          flex: 0 0 48%;
          &:nth-child(1),
          &:nth-child(2),
          &:last-child {
            margin-bottom: 24px;
          }
        }
        @include breakpoint(small-desktop) {
          flex: 0 0 23%;
          margin-bottom: 0px;
          &:nth-child(1),
          &:nth-child(2) {
            margin-bottom: 0px;
          }
        }
        @include breakpoint(desktop) {
          flex: 0 0 23.5%;
          margin-bottom: 0px;
          &:nth-child(1),
          &:nth-child(2) {
            margin-bottom: 0px;
          }
        }
      }
    }

    .state__item {
      padding: 32px;
      background: $White;
      border-radius: 6px;
      border: 2px solid $BostonGrayTint;
      margin-bottom: 24px;
      &:last-child {
        margin-bottom: 0;
      }
      .state_title {
        -webkit-text-stroke: 2px $BostonBlue;
        -webkit-text-fill-color: $White;
        font-family: $MuseoSansBold;
        font-size: rem(52);
        font-style: normal;
        font-weight: 700;
        line-height: 65px;
        margin-bottom: 16px;
        @include breakpoint(small-desktop) {
          font-size: rem(64);
          line-height: 80px;
        }
      }
      .state_caption {
        font-size: rem(16);
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        color: $BostonBlue;
        @include breakpoint(small-desktop) {
          font-size: rem(18);
          line-height: 28px;
        }
      }

      &:hover {
        .state_title {
          -webkit-text-stroke: 2px $BostonOcean;
          -webkit-text-fill-color: $BostonOcean;
        }
      }
    }
  }
}
