@import '../../settings/settings.all';

.featured-event-listing-wrapper {
  max-width: 1284px;
  padding: 0 18px;
  margin: 0 auto;

  @include breakpoint(desktop) {
    padding: 0;
  }

  .featuredevents_top_wrapper {
    .title {
      font-size: rem(28);
      font-style: normal;
      font-weight: 700;
      line-height: 36px;
      font-family: $MuseoSansBold;
      color: $BostonBlue;
      margin-bottom: 32px;
      @include breakpoint(small-desktop) {
        font-size: rem(32);
        line-height: 42px;
      }
    }
  }

  .featuredevents_item_wrapper {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    overflow: hidden;
    justify-content: center;
    position: relative;

    &.num_of_card_3 {
      .featuredevents_item {
        @include breakpoint(tablet) {
          &:nth-last-child(-n + 2) {
            margin-bottom: 32px;
          }
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }

    .featuredevents_item {
      position: relative;
      margin-bottom: 24px;
      flex: 0 0 100%;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: stretch;

      @include breakpoint(tablet) {
        flex: 0 0 48%;
        width: 48%;
        margin-bottom: 32px;
        &:last-child {
          margin-bottom: 0;
        }
        &:nth-last-child(-n + 2) {
          margin-bottom: 0;
        }
      }

      @include breakpoint(small-desktop) {
        flex: 0 0 48%;
        width: 48%;
        margin-bottom: 32px;
      }

      @include breakpoint(desktop) {
        flex: 0 0 49%;
        width: 49%;
        margin-bottom: 32px;
      }

      &:last-child {
        margin-bottom: 0;
      }

      .card_image {
        width: 42%;
        display: flex;
        @include breakpoint(small-desktop) {
          width: 52%;
        }
        img {
          object-fit: cover;
          width: 100%;
          object-position: center;
          border-radius: 0px 6px 6px 0px;
        }
      }

      .featuredevent_content_wrapper {
        padding: 20px;
        border-radius: 6px 0px 0px 6px;
        border-left: 2px solid $BostonGrayTint;
        border-bottom: 2px solid $BostonGrayTint;
        border-top: 2px solid $BostonGrayTint;
        position: relative;
        width: 60%;
        flex-grow: 1;
        display: flex;
        flex-direction: column;

        @include breakpoint(small-desktop) {
          padding: 32px;
          width: 55%;
        }

        .card_eyebrow {
          font-size: rem(13);
          line-height: 16.25px;
          text-transform: uppercase;
          color: $BostonOcean;
          font-family: $HelveticaBold;
          margin-bottom: 16px;
          word-wrap: break-word;
          @include breakpoint(small-desktop) {
            font-size: rem(15);
            line-height: 18.75px;
          }
        }

        .card_title {
          font-size: 20px;
          font-style: normal;
          font-weight: 700;
          line-height: 26px;
          font-family: $MuseoSansBold;
          color: $BostonGray;
          margin-bottom: 8px;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 3;
          overflow: hidden;
          display: -webkit-box;
          text-transform: capitalize;
          @include breakpoint(small-desktop) {
            font-size: rem(24);
            line-height: 32px;
          }
        }

        .card_des {
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
          color: $BostonGray;
          margin-bottom: 16px;
          @include breakpoint(small-desktop) {
            font-size: rem(18);
            line-height: 28px;
          }
        }

        .cta {
          position: relative;
          bottom: 0;
          left: 0;
          margin-top: auto;
          .link-arrow-btn--default {
            font-size: rem(16);
            font-style: normal;
            font-weight: 600;
            line-height: 22px;
            display: block;
            &:after {
              width: 14px;
              top: 5px;
            }
          }
        }
      }

      &:hover {
        .featuredevent_content_wrapper {
          background-color: $BostonBlue;
          border-color: $BostonBlue;
          .card_eyebrow,
          .card_title,
          .card_des,
          .cta .link-arrow-btn--default {
            color: $White;
          }
          .cta .link-arrow-btn--default:after {
            background-image: url('../../../../icons/arrow_white.svg');
          }
        }
      }

      .box_link {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
      }
    }
  }

  .featuredevents_link {
    text-align: center;
    width: 100%;
    margin-top: 32px;
  }
}
