@import '../settings/settings.all';
@import '../config/fonts';

html {
  scroll-behavior: smooth;
}

body {
  font-size: $base-font + px;
  line-height: 24px;
  color: $BostonGray;
  font-weight: 400;
  font-family: $HelveticaRegular;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
  a {
    color: $BostonPink;
    text-decoration: underline;
    transition: all 0.3s ease;
    &:hover {
      color: $BostonOcean;
      transition: all 0.3s ease;
    }
  }
  ul,
  ol {
    li {
      font-family: $HelveticaRegular;
      font-weight: 400;
      padding: 0;
      &::marker {
        color: $BostonOcean;
      }
    }
  }
}
blockquote {
  margin: 0;
}
hr {
  background-color: $BostonSky;
  height: 3px;
  border: none;
  margin: 12px 0px;
  padding: 0;
  @include breakpoint(small-desktop) {
    height: 2px;
    margin: 16px 0px;
  }
}
p {
  color: $BostonGray;
  font-size: 1rem;
  line-height: 24px;
  padding: 12px 0px;
  font-family: $HelveticaRegular;
  @include breakpoint(small-desktop) {
    font-size: 1.125rem;
    line-height: 28px;
    padding: 16px 0px;
  }
  .link-blue,
  .link-pink {
    font-family: $HelveticaBold;
  }
  strong,
  b {
    font-family: $HelveticaBold;
    font-weight: normal;
  }
}
.link-blue {
  color: $BostonOcean;
  cursor: pointer;
  text-decoration: underline;
  color: $BostonOcean;
  cursor: pointer;
  &:hover {
    color: $BostonPink;
  }
}
.link-pink {
  color: $BostonPink;
  cursor: pointer;
  text-decoration: underline;
  &:hover {
    color: $BostonOcean;
  }
}
.p14 {
  font-size: 0.875rem;
  line-height: 22px;
  font-weight: 400;
}
.p16 {
  font-size: 1rem;
  line-height: 24px;
  font-weight: 400;
  font-family: $HelveticaRegular;
}
.p18 {
  font-size: 1rem;
  line-height: 24px;
  font-weight: 400;
  font-family: $HelveticaRegular;
  @include breakpoint(desktop) {
    font-size: 1.125rem;
    line-height: 28px;
  }
}

.p20 {
  @include p20;
}

.p24 {
  @include p24;
}

.p28 {
  font-size: 1.5rem;
  line-height: 36px;
  font-weight: 400;
  font-family: $HelveticaRegular;
  @include breakpoint(desktop) {
    font-size: 1.75rem;
    line-height: 42px;
  }
}

* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-focus-ring-color: rgba(255, 255, 255, 0);
}

.component__wrapper {
  margin-bottom: 32px;
  @include breakpoint(small-desktop) {
    margin-bottom: 64px;
  }
}
.similar_component_type_below {
  .component__wrapper {
    margin-bottom: 24px;
    @include breakpoint(small-desktop) {
      margin-bottom: 48px;
    }
  }
}

.bx--skip-to-content {
  &.visually-hidden.focusable {
    &:focus {
      visibility: visible;
      background: $BostonBlue;
      position: absolute !important;
      z-index: 99;
      color: $White;
    }
  }
}

.event_details_wrapper {
  position: relative;
  background-color: $BostonOcean;
  color: $White;
  .event_details {
    max-width: 1284px;
    padding: 16px 18px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: $HelveticaRegular;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    @include breakpoint(desktop) {
      font-size: rem(24);
      line-height: 36px;
    }
    span {
      font-family: $HelveticaBold;
    }
    @include breakpoint(desktop) {
      padding: 16px 80px;
    }
  }
}

.richtext {
  a {
    font-family: $HelveticaBold;
  }
  ol {
    padding-inline-start: 0;
    list-style-position: inside;
    margin: 12px 0px;
    @include breakpoint(desktop) {
      margin: 16px 0px;
    }
    li {
      padding-bottom: 12px;
      list-style-type: decimal;
      &:last-child {
        padding: 0;
      }
      ol {
        padding-top: 12px;
        padding-inline-start: 32px;
        margin: 0px;
        @include breakpoint(desktop) {
          padding-inline-start: 35px;
        }
        li {
          padding-bottom: 12px;
          list-style-type: lower-alpha;
          &:last-child {
            padding: 0;
          }
          ol {
            padding-inline-start: 16px;
            margin: 0px;
            @include breakpoint(desktop) {
              padding-inline-start: 35px;
            }
            li {
              padding-bottom: 12px;
              list-style-type: lower-roman;
              &:last-child {
                padding: 0;
              }
            }
          }
        }
      }
    }
  }
  ul {
    padding-inline-start: 0;
    list-style-position: inside;
    margin: 12px 0px;
    @include breakpoint(desktop) {
      margin: 16px 0px;
    }
    li {
      list-style-type: none;
      padding-bottom: 12px;
      &:last-child {
        padding: 0;
      }
      &::before {
        content: url('../../icons/rectangle.svg');
        display: inline-block;
        padding-right: 12px;
      }
      ul {
        padding-top: 12px;
        padding-inline-start: 32px;
        margin: 0px;
        @include breakpoint(desktop) {
          padding-inline-start: 35px;
        }
        li {
          list-style-type: none;
          padding-bottom: 12px;
          &:last-child {
            padding: 0;
          }
          &::before {
            content: url('../../icons/ellipse.svg');
            display: inline-block;
            padding-right: 12px;
          }
          ul {
            padding-inline-start: 16px;
            margin: 0px;
            @include breakpoint(desktop) {
              padding-inline-start: 35px;
            }
            li {
              list-style-type: none;
              padding-bottom: 12px;
              &:last-child {
                padding: 0;
              }
              &::before {
                content: url('../../icons/polygon.svg');
                display: inline-block;
                padding-right: 12px;
              }
            }
          }
        }
      }
    }
  }
}

.content-body {
  &.nobanner_wrapper {
    margin-top: 32px;
    @include breakpoint(small-desktop) {
      margin-top: 64px;
    }
  }
  h1.nobanner_h1 {
    font-size: 1.75rem;
    line-height: 36px;
    margin-bottom: 20px;
    @include breakpoint(small-desktop) {
      font-size: 2rem;
      line-height: 42px;
    }
  }
}
