@import '../settings/settings.all';

body {
  font-size: 16px;
  line-height: 24px;
  color: $BostonGray;
  font-weight: 400;
  font-family: $HelveticaRegular;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  a {
    color: $BostonPink;
    text-decoration: underline;
    &:hover {
      color: $BostonOcean;
    }
  }
  ul,
  ol {
    li {
      font-family: $HelveticaRegular;
      font-weight: 400;
      padding: 0px;
      &::marker {
        color: $BostonOcean;
      }
    }
  }
}
blockquote {
  margin: 0px;
}
hr {
  background-color: $BostonSky;
  height: 3px;
  border: none;
  margin: 16px 0px;
  padding: 0;
  @include breakpoint(desktop) {
    height: 2px;
  }
}
p {
  color: $BostonGray;
  font-size: 16px;
  line-height: 24px;
  padding: 12px 0;
  font-family: $HelveticaRegular;
  @include breakpoint(desktop) {
    font-size: 18px;
    line-height: 28px;
    padding: 16px 0;
  }
  .link-blue,
  .link-pink {
    font-weight: 700;
  }
}
.link-blue {
  color: $BostonOcean;
  cursor: pointer;
  text-decoration: underline;
  color: $BostonOcean;
  cursor: pointer;
  &:hover {
    color: $BostonPink;
  }
}
.link-pink {
  color: $BostonPink;
  cursor: pointer;
  text-decoration: underline;
  &:hover {
    color: $BostonOcean;
  }
}
.p14 {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
}
.p16 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-family: $HelveticaRegular;
}
.p18 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-family: $HelveticaRegular;
  @include breakpoint(desktop) {
    font-size: 18px;
    line-height: 28px;
  }
}
.p20 {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  font-family: $HelveticaRegular;
  @include breakpoint(desktop) {
    font-size: 20px;
    line-height: 30px;
  }
}
.p24 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  font-family: $HelveticaRegular;
  @include breakpoint(desktop) {
    font-size: 24px;
    line-height: 36px;
  }
}
.p28 {
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
  font-family: $HelveticaRegular;
  @include breakpoint(mobile) {
    font-size: 28px;
    line-height: 42px;
  }
}
