@import '../settings/settings.all';

// Default Button styles
.btn {
  padding: 15px 25px;
  border-radius: 6px;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 22px;
  text-decoration: none;
  cursor: pointer;
  font-family: $MuseoSans;
  display: inline-block;
  border: none;
  &--default {
    background-color: $BostonPink;
    color: $White;
    a {
      color: $White;
      text-decoration: none;
      font-family: $MuseoSans;
    }
    &:hover {
      background-color: $BostonOcean;
      color: $White;
      a {
        color: $White;
      }
    }
  }
  &--white {
    background-color: $White;
    color: $BostonBlue;
    a {
      color: $BostonBlue;
      text-decoration: none;
      font-family: $MuseoSans;
    }
    &:hover {
      background-color: $BostonOcean;
      color: $White;
      a {
        color: $White;
      }
    }
  }
  &--tint {
    background-color: $White;
    color: $BostonBlue;
    a {
      color: $BostonBlue;
      text-decoration: none;
      font-family: $MuseoSans;
    }
    &:hover {
      background-color: $BostonSkyTint2;
      color: $BostonBlue;
      a {
        color: $BostonBlue;
      }
    }
  }
}
//Small Default Button styles
.btn-small {
  padding: 10px 18px;
  border-radius: 5px;
  font-weight: 600;
  font-size: 1rem;
  line-height: 20px;
  cursor: pointer;
  text-decoration: none;
  font-family: $MuseoSans;
  border: none;
  display: inline-block;
  &--default {
    background-color: $BostonPink;
    color: $White;
    a {
      color: $White;
      text-decoration: none;
      font-family: $MuseoSans;
    }
    &:hover {
      background-color: $BostonOcean;
      color: $White;
      a {
        color: $White;
      }
    }
  }
  &--white {
    background-color: $White;
    color: $BostonBlue;
    a {
      color: $BostonBlue;
      text-decoration: none;
      font-family: $MuseoSans;
    }
    &:hover {
      background-color: $BostonOcean;
      color: $White;
      a {
        color: $White;
      }
    }
  }
  &--tint {
    background-color: $White;
    color: $BostonBlue;
    a {
      color: $BostonBlue;
      text-decoration: none;
      font-family: $MuseoSans;
    }
    &:hover {
      background-color: $BostonSkyTint2;
      color: $BostonBlue;
      a {
        color: $BostonBlue;
      }
    }
  }
}
//Transparent Button styles
.btn-transparent {
  padding: 15px 25px;
  border-radius: 6px;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 22px;
  width: fit-content;
  font-family: $MuseoSans;
  text-decoration: none;
  border: none;
  cursor: pointer;
  display: inline-block;
  &--default {
    color: $BostonPink;
    background-color: transparent;
    border: 2px solid $BostonPink;
    a {
      color: $BostonPink;
      text-decoration: none;
      font-family: $MuseoSans;
    }
    &:hover {
      color: $BostonOcean;
      border: 2px solid $BostonOcean;
      a {
        color: $BostonOcean;
      }
    }
  }
  &--white {
    color: $White;
    border: 2px solid $White;
    background-color: transparent;
    a {
      color: $White;
      text-decoration: none;
      font-family: $MuseoSans;
    }
    &:hover {
      border: 2px solid $BostonSky;
      color: $BostonSky;
      a {
        color: $BostonSky;
      }
    }
  }
  &--tint {
    color: $White;
    border: 2px solid $White;
    background-color: transparent;
    a {
      color: $White;
      text-decoration: none;
      font-family: $MuseoSans;
    }
    &:hover {
      border: 2px solid $BostonSkyTint2;
      color: $BostonSkyTint2;
      a {
        color: $BostonSkyTint2;
      }
    }
  }
}
//Button Transparent Small styles
.btn-transparent-small {
  padding: 10px 18px;
  border-radius: 5px;
  font-weight: 600;
  font-size: 1rem;
  line-height: 20px;
  cursor: pointer;
  text-decoration: none;
  border: none;
  font-family: $MuseoSans;
  display: inline-block;
  &--default {
    color: $BostonPink;
    background-color: transparent;
    border: 2px solid $BostonPink;
    a {
      color: $BostonPink;
      text-decoration: none;
      font-family: $MuseoSans;
    }
    &:hover {
      color: $BostonOcean;
      border: 2px solid $BostonOcean;
      a {
        color: $BostonOcean;
      }
    }
  }
  &--white {
    color: $White;
    border: 2px solid $White;
    background-color: transparent;
    a {
      color: $White;
      text-decoration: none;
      font-family: $MuseoSans;
    }

    &:hover {
      border: 2px solid $BostonSky;
      color: $BostonSky;
      a {
        color: $BostonSky;
      }
    }
  }
  &--tint {
    color: $White;
    border: 2px solid $White;
    background-color: transparent;
    a {
      color: $White;
      text-decoration: none;
      font-family: $MuseoSans;
    }
    &:hover {
      border: 2px solid $BostonSkyTint2;
      color: $White;
      a {
        color: $BostonSkyTint2;
      }
    }
  }
}
.link-arrow-btn {
  &--default {
    color: $BostonPink;
    font-family: $MuseoSans;
    font-size: 1rem;
    line-height: 22px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    @include breakpoint(desktop) {
      font-size: 1.25rem;
      line-height: 26px;
    }
    &::after {
      content: '';
      width: 18px;
      background-image: url('../../icons/arrow_pink.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      display: inline-block;
      height: 20px;
      position: relative;
      left: 10px;
      top: 5px;
    }
    &:hover {
      color: $BostonOcean;
      &::after {
        content: '';
        width: 18px;
        background-image: url('../../icons/arrow_ocean.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
  }
  &--white {
    color: $White;
    font-family: $MuseoSans;
    font-size: 1.25rem;
    line-height: 26px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    &::after {
      content: '';
      width: 18px;
      background-image: url('../../icons/arrow_white.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      display: inline-block;
      height: 20px;
      position: relative;
      left: 10px;
      top: 5px;
    }
    &:hover {
      color: $BostonPinkTint;
      &::after {
        content: '';
        width: 18px;
        background-image: url('../../icons/arrow_pink_tint.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
  }
}
.link-arrow-btn-small {
  &--default {
    color: $BostonPink;
    font-family: $MuseoSans;
    font-size: 1rem;
    line-height: 22px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    &::after {
      content: '';
      width: 14px;
      background-image: url('../../icons/arrow_pink.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      display: inline-block;
      height: 10px;
      position: relative;
      left: 10px;
      top: 0px;
    }
    &:hover {
      color: $BostonOcean;
      &::after {
        content: '';
        background-image: url('../../icons/arrow_ocean.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
  }
  &--white {
    color: $White;
    font-family: $MuseoSans;
    font-size: 1rem;
    line-height: 22px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    &::after {
      content: '';
      width: 14px;
      background-image: url('../../icons/arrow_white.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      display: inline-block;
      height: 20px;
      position: relative;
      left: 10px;
      top: 0px;
    }
    &:hover {
      color: $BostonPinkTint;
      &::after {
        content: '';
        width: 14px;
        background-image: url('../../icons/arrow_pink_tint.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
  }
}
