@import '../settings/settings.all';

// Default Button styles
.btn {
  padding: 15px 25px;
  border-radius: 6px;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 22px;
  text-decoration: none;
  cursor: pointer;
  font-family: $MuseoSans;
  display: inline-block;
  border: none;
  &--default {
    background-color: $BostonPink;
    color: $White;
    a {
      color: $White;
      text-decoration: none;
      font-family: $MuseoSans;
    }
    &:hover {
      background-color: $BostonOcean;
      color: $White;
      a {
        color: $White;
      }
    }
  }
  &--white {
    background-color: $White;
    color: $BostonBlue;
    a {
      color: $BostonBlue;
      text-decoration: none;
      font-family: $MuseoSans;
    }
    &:hover {
      background-color: $BostonOcean;
      color: $White;
      a {
        color: $White;
      }
    }
  }
  &--tint {
    background-color: $White;
    color: $BostonBlue;
    a {
      color: $BostonBlue;
      text-decoration: none;
      font-family: $MuseoSans;
    }
    &:hover {
      background-color: $BostonSkyTint2;
      color: $BostonBlue;
      a {
        color: $BostonBlue;
      }
    }
  }
}
//Small Default Button styles
.btn-small {
  padding: 10px 18px;
  border-radius: 5px;
  font-weight: 600;
  font-size: 1rem;
  line-height: 20px;
  cursor: pointer;
  text-decoration: none;
  font-family: $MuseoSans;
  border: none;
  display: inline-block;
  &--default {
    background-color: $BostonPink;
    color: $White;
    a {
      color: $White;
      text-decoration: none;
      font-family: $MuseoSans;
    }
    &:hover {
      background-color: $BostonOcean;
      color: $White;
      a {
        color: $White;
      }
    }
  }
  &--white {
    background-color: $White;
    color: $BostonBlue;
    a {
      color: $BostonBlue;
      text-decoration: none;
      font-family: $MuseoSans;
    }
    &:hover {
      background-color: $BostonOcean;
      color: $White;
      a {
        color: $White;
      }
    }
  }
  &--tint {
    background-color: $White;
    color: $BostonBlue;
    a {
      color: $BostonBlue;
      text-decoration: none;
      font-family: $MuseoSans;
    }
    &:hover {
      background-color: $BostonSkyTint2;
      color: $BostonBlue;
      a {
        color: $BostonBlue;
      }
    }
  }
}
//Transparent Button styles
.btn-transparent {
  padding: 15px 25px;
  border-radius: 6px;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 22px;
  width: fit-content;
  font-family: $MuseoSans;
  text-decoration: none;
  border: none;
  cursor: pointer;
  display: inline-block;
  &--default {
    color: $BostonPink;
    background-color: transparent;
    border: 2px solid $BostonPink;
    a {
      color: $BostonPink;
      text-decoration: none;
      font-family: $MuseoSans;
    }
    &:hover {
      color: $BostonOcean;
      border: 2px solid $BostonOcean;
      a {
        color: $BostonOcean;
      }
    }
  }
  &--white {
    color: $White;
    border: 2px solid $White;
    background-color: transparent;
    a {
      color: $White;
      text-decoration: none;
      font-family: $MuseoSans;
    }
    &:hover {
      border: 2px solid $BostonSky;
      color: $BostonSky;
      a {
        color: $BostonSky;
      }
    }
  }
  &--tint {
    color: $White;
    border: 2px solid $White;
    background-color: transparent;
    a {
      color: $White;
      text-decoration: none;
      font-family: $MuseoSans;
    }
    &:hover {
      border: 2px solid $BostonSkyTint2;
      color: $BostonSkyTint2;
      a {
        color: $BostonSkyTint2;
      }
    }
  }
}
//Button Transparent Small styles
.btn-transparent-small {
  padding: 10px 18px;
  border-radius: 5px;
  font-weight: 600;
  font-size: 1rem;
  line-height: 20px;
  cursor: pointer;
  text-decoration: none;
  border: none;
  font-family: $MuseoSans;
  display: inline-block;
  &--default {
    color: $BostonPink;
    background-color: transparent;
    border: 2px solid $BostonPink;
    a {
      color: $BostonPink;
      text-decoration: none;
      font-family: $MuseoSans;
    }
    &:hover {
      color: $BostonOcean;
      border: 2px solid $BostonOcean;
      a {
        color: $BostonOcean;
      }
    }
  }
  &--white {
    color: $White;
    border: 2px solid $White;
    background-color: transparent;
    a {
      color: $White;
      text-decoration: none;
      font-family: $MuseoSans;
    }

    &:hover {
      border: 2px solid $BostonSky;
      color: $BostonSky;
      a {
        color: $BostonSky;
      }
    }
  }
  &--tint {
    color: $White;
    border: 2px solid $White;
    background-color: transparent;
    a {
      color: $White;
      text-decoration: none;
      font-family: $MuseoSans;
    }
    &:hover {
      border: 2px solid $BostonSkyTint2;
      color: $White;
      a {
        color: $BostonSkyTint2;
      }
    }
  }
}
.link-arrow-btn {
  background-color: transparent;
  border: none;
  display: inline-flex;
  align-items: center;
  max-width: fit-content;
  &--default {
    color: $BostonPink;
    font-family: $MuseoSans;
    font-size: 1rem;
    line-height: 22px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    a {
      color: $BostonPink;
      font-family: $MuseoSans;
      font-size: 1rem;
      line-height: 22px;
      font-weight: 600;
      text-decoration: none;
      cursor: pointer;
      @include breakpoint(desktop) {
        font-size: 1.25rem;
        line-height: 26px;
      }
    }
    @include breakpoint(desktop) {
      font-size: 1.25rem;
      line-height: 26px;
    }
    &::after {
      content: '';
      width: 18px;
      background: url('data:image/svg+xml,%3Csvg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Crect y="6.875" width="16.875" height="2.25" rx="1.125" fill="%23C14991"/%3E%3Cpath d="M11.25 1.25L18 8L11.25 14.75" stroke="%23C14991" stroke-width="2.25" stroke-linecap="round"/%3E%3C/svg%3E');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      display: inline-block;
      height: 20px;
      position: relative;
      left: 10px;
      margin-right: 10px;
    }
    &:hover {
      color: $BostonOcean;
      a {
        color: $BostonOcean;
      }
      &::after {
        content: '';
        width: 18px;
        background: url('data:image/svg+xml,%3Csvg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Crect y="6.875" width="16.875" height="2.25" rx="1.125" fill="%23007DBA"/%3E%3Cpath d="M11.25 1.25L18 8L11.25 14.75" stroke="%23007DBA" stroke-width="2.25" stroke-linecap="round"/%3E%3C/svg%3E');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
  }
  &--white {
    color: $White;
    font-family: $MuseoSans;
    font-size: 1.25rem;
    line-height: 26px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    a {
      color: $White;
      font-family: $MuseoSans;
      font-size: 1.25rem;
      line-height: 26px;
      font-weight: 600;
      text-decoration: none;
      cursor: pointer;
    }
    &::after {
      content: '';
      width: 18px;
      background: url('data:image/svg+xml,%3Csvg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Crect y="6.875" width="16.875" height="2.25" rx="1.125" fill="%23FFFFFF"/%3E%3Cpath d="M11.25 1.25L18 8L11.25 14.75" stroke="%23FFFFFF" stroke-width="2.25" stroke-linecap="round"/%3E%3C/svg%3E');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      display: inline-block;
      height: 20px;
      position: relative;
      left: 10px;
      margin-right: 10px;
    }
    &:hover {
      color: $BostonPinkTint;
      a {
        color: $BostonPinkTint;
      }
      &::after {
        content: '';
        width: 18px;
        background: url('data:image/svg+xml,%3Csvg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Crect y="6.875" width="16.875" height="2.25" rx="1.125" fill="%23FCC3E5"/%3E%3Cpath d="M11.25 1.25L18 8L11.25 14.75" stroke="%23FCC3E5" stroke-width="2.25" stroke-linecap="round"/%3E%3C/svg%3E');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
  }
}
.link-arrow-btn-small {
  background-color: transparent;
  border: none;
  display: inline-flex;
  align-items: center;
  max-width: fit-content;
  &--default {
    color: $BostonPink;
    font-family: $MuseoSans;
    font-size: 1rem;
    line-height: 22px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    a {
      color: $BostonPink;
      font-family: $MuseoSans;
      font-size: 1rem;
      line-height: 22px;
      font-weight: 600;
      text-decoration: none;
      cursor: pointer;
    }
    &::after {
      content: '';
      width: 14px;
      background: url('data:image/svg+xml,%3Csvg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Crect y="6.875" width="16.875" height="2.25" rx="1.125" fill="%23C14991"/%3E%3Cpath d="M11.25 1.25L18 8L11.25 14.75" stroke="%23C14991" stroke-width="2.25" stroke-linecap="round"/%3E%3C/svg%3E');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      display: inline-block;
      height: 10px;
      position: relative;
      left: 10px;
      top: 1px;
      margin-right: 10px;
    }
    &:hover {
      color: $BostonOcean;
      &::after {
        content: '';
        background: url('data:image/svg+xml,%3Csvg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Crect y="6.875" width="16.875" height="2.25" rx="1.125" fill="%23007DBA"/%3E%3Cpath d="M11.25 1.25L18 8L11.25 14.75" stroke="%23007DBA" stroke-width="2.25" stroke-linecap="round"/%3E%3C/svg%3E');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        display: inline-block;
        height: 10px;
        position: relative;
        left: 10px;
        top: 1px;
      }
    }
  }
  &--white {
    color: $White;
    font-family: $MuseoSans;
    font-size: 1rem;
    line-height: 22px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    a {
      color: $White;
      font-family: $MuseoSans;
      font-size: 1rem;
      line-height: 22px;
      font-weight: 600;
      text-decoration: none;
      cursor: pointer;
    }
    &::after {
      content: '';
      width: 14px;
      background: url('data:image/svg+xml,%3Csvg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Crect y="6.875" width="16.875" height="2.25" rx="1.125" fill="%23FFFFFF"/%3E%3Cpath d="M11.25 1.25L18 8L11.25 14.75" stroke="%23FFFFFF" stroke-width="2.25" stroke-linecap="round"/%3E%3C/svg%3E');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      display: inline-block;
      height: 20px;
      position: relative;
      left: 10px;
      top: 0px;
      margin-right: 10px;
    }
    &:hover {
      color: $BostonPinkTint;
      a {
        color: $BostonPinkTint;
      }
      &::after {
        content: '';
        width: 14px;
        background: url('data:image/svg+xml,%3Csvg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Crect y="6.875" width="16.875" height="2.25" rx="1.125" fill="%23FCC3E5"/%3E%3Cpath d="M11.25 1.25L18 8L11.25 14.75" stroke="%23FCC3E5" stroke-width="2.25" stroke-linecap="round"/%3E%3C/svg%3E');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
  }
}
