@import '../settings/settings.all';
.container {
  max-width: 1284px;
  margin: 0 auto 24px;
  @include breakpoint(small-desktop) {
    margin: 0 auto 32px;
  }
  @include breakpoint(desktop) {
    margin: 0 auto 32px;
  }
}
.container-small {
  max-width: 840px;
  margin: 0 auto 24px;
  @include breakpoint(small-desktop) {
    margin: 0 auto 32px;
  }
  @include breakpoint(desktop) {
    margin: 0 auto 32px;
  }
}
.container::after {
  content: '';
  clear: both;
  display: table;
}

main {
  position: relative;
  float: left;
  width: 100%;
}
