@import '../settings/settings.all';
.container {
  max-width: 1440px;
  margin: 0 auto;
}
.container-small {
  max-width: 840px;
  margin: 0 auto;
}
.container::after {
  content: '';
  clear: both;
  display: table;
}
