@import '../settings/settings.all';
.region--highlighted {
  background-color: $BostonPink;
  position: relative;
  margin: 0 0 40px;
  &:after {
    content: '';
    clear: both;
    display: table;
  }
  .container {
    margin-bottom: 0;
  }
  .region--highlighted__inner {
    color: $White;
  }

  div[data-drupal-messages] {
    margin: 0;
    padding: 15px 0;
    border-top: 1px solid $White;
    border-bottom: 1px solid $White;
    a {
      color: $White !important;
    }
  }

  ul:not(.contextual-links) {
    color: $White;
    display: block;
    padding: 0;
    margin: 0;
    li {
      display: inline-block;
      border-right: 1px solid $White;

      &:first-child {
        border-left: 1px solid $White;
      }
      @media only screen and (max-width: 767px) {
        display: block;
        border-bottom: 1px solid $White;
        border-right: none;

        &:first-child {
          border-left: none;
        }
      }
      a {
        display: inline-block;
        padding: 8px 20px;
        font-size: 14px;
        color: $White;
        text-decoration: none;
      }
    }
  }
}

.back-to-top {
  position: fixed;
  bottom: 0;
  right: 0;
  display: inline-block;
  padding: 8px;
  background: $BostonBlue;
  z-index: 15;
  width: 40px;
  height: 40px;
  text-align: center;
  color: $White;
  opacity: 1;
  line-height: 0px;
  font-size: 0px;
  &:after {
    background: url('data:image/svg+xml,%3Csvg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Crect y="6.875" width="16.875" height="2.25" rx="1.125" fill="%23FFFFFF"/%3E%3Cpath d="M11.25 1.25L18 8L11.25 14.75" stroke="%23FFFFFF" stroke-width="2.25" stroke-linecap="round"/%3E%3C/svg%3E');
    content: '';
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 20px;
    width: 18px;
    transform: rotate(270deg);
    position: relative;
    top: 3px;
  }
}

.back-to-top:hover {
  cursor: pointer;
}
