@import './settings/settings.all';

.paragraph--type--rich-text {
  padding: 0px 18px;
  @include breakpoint(small-desktop) {
    padding: 0px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $BostonBlue;
    padding-top: 12px;
    &:first-child {
      padding-top: 0;
    }
    @include breakpoint(desktop) {
      padding-top: 16px;
    }
  }
  a {
    font-family: $HelveticaBold;
    font-weight: normal;
  }
  ol,
  ul {
    li {
      font-size: 1rem;
      line-height: 24px;
      @include breakpoint(small-desktop) {
        font-size: 1.125rem;
        line-height: 28px;
      }
    }
  }
  ol {
    padding-inline-start: 0;
    list-style-position: inside;
    margin: 12px 0px;
    @include breakpoint(small-desktop) {
      margin: 16px 0px;
    }
    li {
      padding-bottom: 12px;
      list-style-type: decimal;
      &:last-child {
        padding: 0;
      }
      ol {
        padding-top: 12px;
        padding-inline-start: 32px;
        margin: 0px;
        @include breakpoint(small-desktop) {
          padding-inline-start: 35px;
        }
        li {
          padding-bottom: 12px;
          list-style-type: lower-alpha;
          &:last-child {
            padding: 0;
          }
          ol {
            padding-inline-start: 16px;
            margin: 0px;
            @include breakpoint(small-desktop) {
              padding-inline-start: 35px;
            }
            li {
              padding-bottom: 12px;
              list-style-type: lower-roman;
              &:last-child {
                padding: 0;
              }
            }
          }
        }
      }
    }
  }
  ul {
    padding-inline-start: 0;
    list-style-position: inside;
    margin: 12px 0px;
    @include breakpoint(small-desktop) {
      margin: 16px 0px;
    }
    li {
      list-style-type: none;
      padding-bottom: 12px;
      &:last-child {
        padding: 0;
      }
      &::before {
        content: url('../../icons/rectangle.svg');
        display: inline-block;
        padding-right: 12px;
      }
      ul {
        padding-top: 12px;
        padding-inline-start: 32px;
        margin: 0px;
        @include breakpoint(small-desktop) {
          padding-inline-start: 35px;
        }
        li {
          list-style-type: none;
          padding-bottom: 12px;
          &:last-child {
            padding: 0;
          }
          &::before {
            content: url('../../icons/ellipse.svg');
            display: inline-block;
            padding-right: 12px;
          }
          ul {
            padding-inline-start: 16px;
            margin: 0px;
            @include breakpoint(small-desktop) {
              padding-inline-start: 35px;
            }
            li {
              list-style-type: none;
              padding-bottom: 12px;
              &:last-child {
                padding: 0;
              }
              &::before {
                content: url('../../icons/polygon.svg');
                display: inline-block;
                padding-right: 12px;
              }
            }
          }
        }
      }
    }
  }
  figure.align-left {
    padding: 12px 0px 12px 0px;
    @include breakpoint(tablet) {
      padding: 16px 39px 0px 0px;
    }
    .media-embed-resized {
      width: 100% !important;
    }
    .field--name-field-media-image {
      @include breakpoint(tablet) {
        max-width: 400px;
      }
    }
    figcaption {
      margin: 8px 0px 4px 0px;
      padding: 0px 0px 0px 10px;
      max-width: 100%;
      @include breakpoint(tablet) {
        margin: 14px 0px 16px 0px;
        max-width: 400px;
      }
      @include breakpoint(desktop) {
        margin: 14px 0px 32px 0px;
      }
    }
  }
  figure.align-right {
    padding: 12px 0px 12px 0px;
    @include breakpoint(tablet) {
      padding: 16px 0px 0px 39px;
    }
    .media-embed-resized {
      width: 100% !important;
    }
    .field--name-field-media-image {
      @include breakpoint(tablet) {
        max-width: 400px;
      }
    }
    figcaption {
      margin: 8px 0px 4px 0px;
      padding: 0px 0px 0px 10px;
      max-width: 100%;
      @include breakpoint(tablet) {
        max-width: 400px;
        margin: 14px 0px 16px 0px;
      }
      @include breakpoint(desktop) {
        margin: 14px 0px 32px 0px;
      }
    }
  }
  blockquote {
    p {
      font-family: $HelveticaBold;
      padding-top: 16px !important;
      &:first-child {
        padding-top: 16px !important;
      }
      &::before {
        content: url('../../icons/blockquote.svg');
        display: block;
        margin: 0 auto;
        padding-bottom: 8px;
      }
    }
  }
  .featured-text,
  .intro-text {
    color: $BostonGray;
    font-size: 1.25rem;
    line-height: 30px;
    font-family: $HelveticaRegular;
    font-weight: 400;
    text-align: center;
    padding: 12px 0px !important;
    &::before {
      content: '';
      display: none;
    }

    @include breakpoint(small-desktop) {
      font-size: 1.5rem;
      line-height: 36px;
      padding: 16px 0px !important;
    }
  }
  .intro-text {
    text-align: left;
    padding: 12px 0px 8px !important;
    @include breakpoint(small-desktop) {
      padding: 16px 0px 4px !important;
    }
  }
  figure {
    padding: 12px 0px;
    margin: 0;
    @include breakpoint(desktop) {
      padding: 16px 0px;
    }
    figcaption {
      color: $BostonGray;
      font-family: $HelveticaRegular;
      font-style: italic;
      font-size: 0.75rem;
      margin: 8px 0px 4px 0px;
      line-height: 22px;
      display: flex;
      gap: 10px;
      align-items: center;
      position: relative;
      border-left: 3px solid $BostonOcean;
      padding-left: 10px;
      @include breakpoint(desktop) {
        font-size: 0.875rem;
        line-height: 22px;
        margin: 14px 0px 0px 0px;
      }
    }
  }
  img {
    height: auto;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }
  p {
    margin: 0;
    &:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
    }
    &:first-child {
      padding-top: 0 !important;
    }
  }
  p:has(
      .link-arrow-btn--default,
      .link-arrow-btn--white,
      .link-arrow-btn-small--default,
      .link-arrow-btn-small--white
    ) {
    padding-top: 0px;
  }
}
