@import './settings/settings.all';

.paragraph--type--rich-text {
  padding: 0px 18px;
  @include breakpoint(desktop) {
    padding: 0px;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $BostonBlue;
    padding-top: 24px;
    @include breakpoint(desktop) {
      padding-top: 16px;
    }
  }
  ol {
    padding-inline-start: 0;
    list-style-position: inside;
    li {
      padding-bottom: 12px;
      list-style-type: decimal;
      &:last-child {
        padding: 0;
      }
      ol {
        padding-top: 12px;
        padding-inline-start: 32px;
        @include breakpoint(desktop) {
          padding-inline-start: 35px;
        }
        li {
          padding-bottom: 12px;
          list-style-type: lower-alpha;
          &:last-child {
            padding: 0;
          }
          ol {
            padding-inline-start: 16px;
            @include breakpoint(desktop) {
              padding-inline-start: 35px;
            }
            li {
              padding-bottom: 12px;
              list-style-type: lower-roman;
              &:last-child {
                padding: 0;
              }
            }
          }
        }
      }
    }
  }
  ul {
    padding-inline-start: 0;
    list-style-position: inside;
    li {
      list-style-type: none;
      padding-bottom: 12px;
      &:last-child {
        padding: 0;
      }
      &::before {
        content: url('../../icons/rectangle.svg');
        display: inline-block;
        padding-right: 12px;
      }
      ul {
        padding-top: 12px;
        padding-inline-start: 32px;
        @include breakpoint(desktop) {
          padding-inline-start: 35px;
        }
        li {
          list-style-type: none;
          padding-bottom: 12px;
          &:last-child {
            padding: 0;
          }
          &::before {
            content: url('../../icons/ellipse.svg');
            display: inline-block;
            padding-right: 12px;
          }
          ul {
            padding-inline-start: 16px;
            @include breakpoint(desktop) {
              padding-inline-start: 35px;
            }
            li {
              list-style-type: none;
              padding-bottom: 12px;
              &:last-child {
                padding: 0;
              }
              &::before {
                content: url('../../icons/polygon.svg');
                display: inline-block;
                padding-right: 12px;
              }
            }
          }
        }
      }
    }
  }
  figure.align-left {
    padding: 12px 17px 24px 0px;
    @include breakpoint(desktop) {
      padding: 16px 39px 0px 0px;
    }
    .media-embed-resized {
      min-width: 100%;
    }
    figcaption {
      padding: 8px 0px 4px 0px;
      max-width: 98%;
      @include breakpoint(desktop) {
        padding: 14px 0px 20px 0px;
      }
    }
    img {
      min-width: 340px;
      min-height: 340px;
      object-fit: cover;
      @include breakpoint(desktop) {
        min-width: 400px;
        min-height: 400px;
      }
    }
  }
  figure.align-right {
    padding: 12px 0px 24px 17px;
    @include breakpoint(desktop) {
      padding: 16px 0px 0px 39px;
    }
    .media-embed-resized {
      min-width: 100%;
    }
    figcaption {
      padding: 8px 0px 4px 0px;
      max-width: 98%;
      @include breakpoint(desktop) {
        padding: 14px 0px 20px 0px;
      }
    }
    img {
      min-width: 340px;
      min-height: 340px;
      object-fit: cover;
      @include breakpoint(desktop) {
        min-width: 400px;
        min-height: 400px;
      }
    }
  }
  blockquote {
    p {
      font-weight: 700;
      &::before {
        content: url('../../icons/blockquote.svg');
        display: block;
        margin: 0 auto;
        padding-bottom: 8px;
      }
    }
  }
  .featured-text {
    color: $BostonGray;
    font-size: 1.25rem;
    line-height: 30px;
    font-family: $HelveticaRegular;
    font-weight: 400;
    text-align: center;

    &::before {
      content: '';
      display: none;
    }

    @include breakpoint(desktop) {
      font-size: 1.5rem;
      line-height: 36px;
    }
  }
  figure {
    padding-top: 12px;
    margin: 0;
    @include breakpoint(desktop) {
      padding: 16px 0px;
    }
    figcaption {
      color: $BostonGray;
      font-family: $HelveticaRegular;
      font-style: italic;
      font-size: 0.75rem;
      padding: 8px 0px 4px 0px;
      line-height: 22px;
      display: flex;
      gap: 10px;
      align-items: center;
      @include breakpoint(desktop) {
        font-size: 0.875rem;
        line-height: 22px;
        padding: 14px 0px 0px 0px;
      }
      &::before {
        content: '';
        width: 3px;
        background-color: $BostonOcean;
        height: 30px;
        display: block;
        @include breakpoint(desktop) {
          height: 34px;
        }
      }
    }
  }
  img {
    height: auto;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }
  p {
    margin: 0;
  }
}
