@import '../../settings/settings.all';

.cards_wrapper {
  max-width: 1284px;
  padding: 0 18px;
  margin: 0 auto;

  @include breakpoint(desktop) {
    padding: 0;
  }

  .cards_top_wrapper {
    .title {
      font-size: rem(24);
      font-style: normal;
      font-weight: normal;
      line-height: 32px;
      font-family: $MuseoSansBold;
      color: $BostonBlue;
      margin-bottom: 24px;
      @include breakpoint(small-desktop) {
        font-size: rem(28);
        line-height: 36px;
      }
    }
    .des {
      margin-bottom: 32px;
      max-width: 100%;
      @include breakpoint(tablet) {
        max-width: 1044px;
      }
      @include breakpoint(small-desktop) {
        margin-bottom: 48px;
      }
      p {
        font-size: rem(20);
        line-height: 30px;
        margin-top: 0;
        padding: 0;
        margin-bottom: 16px;
        @include breakpoint(small-desktop) {
          font-size: rem(24);
          line-height: 36px;
        }
      }
      ul,
      ol {
        li {
          font-size: rem(20);
          line-height: 30px;
          @include breakpoint(small-desktop) {
            font-size: rem(24);
            line-height: 36px;
          }
        }
      }
      ul {
        li {
          &:before {
            top: -5px;
          }
        }
      }
    }
  }

  .cards_item_wrapper {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    justify-content: center;

    &.num_of_card_1,
    &.num_of_card_2,
    &.num_of_card_3 {
      flex-wrap: wrap;
      @media only screen and (min-width: 768px) {
        flex-wrap: nowrap;
      }
      .card__item {
        margin-bottom: 0;
        @media only screen and (max-width: 1244px) {
          margin-bottom: 0;
        }

        @media only screen and (max-width: 991px) {
          flex: 0 0 31.5%;
          width: 31.5%;
          &:last-child {
            margin-bottom: 0;
          }
        }

        @media only screen and (max-width: 767px) {
          margin-bottom: 24px;
          flex: 0 0 100%;
          width: 100%;
          &:last-child {
            margin-bottom: 0;
          }
        }

        @media only screen and (max-width: 650px) {
          margin-bottom: 24px;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }

    &.num_of_card_2 {
      .card__item {
        @media only screen and (max-width: 991px) {
          margin-bottom: 0px;
          &:nth-last-of-type(-n + 3) {
            margin-bottom: 0px;
          }
          &:last-child {
            margin-bottom: 0;
          }
        }
        @media only screen and (max-width: 650px) {
          margin-bottom: 24px;
          &:nth-last-of-type(-n + 3) {
            margin-bottom: 24px;
          }
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }

    .card__item {
      position: relative;
      margin-bottom: 24px;
      flex: 0 0 32%;
      width: 32%;
      display: flex;
      flex-direction: column;
      align-items: stretch;

      @media only screen and (max-width: 1244px) {
        flex: 0 0 31.5%;
        width: 31.5%;
      }

      @media only screen and (max-width: 991px) {
        flex: 0 0 48%;
        width: 48%;
      }

      @media only screen and (max-width: 767px) {
        flex: 0 0 100%;
        width: 100%;
        &:last-child {
          margin-bottom: 0;
        }
      }

      @media only screen and (max-width: 650px) {
        flex: 0 0 100%;
        width: 100%;
        &:last-child {
          margin-bottom: 0;
        }
      }

      .card_image {
        img {
          min-height: 204px;
          max-height: 204px;
          object-fit: cover;
          width: 100%;
          border-radius: 6px 6px 0px 0px;
          @include breakpoint(desktop) {
            max-height: 247px;
            min-height: 247px;
          }
        }
      }

      .card_bottom_wrapper {
        padding: 32px 24px;
        border-radius: 0px 0px 6px 6px;
        border-right: 2px solid $BostonGrayTint;
        border-bottom: 2px solid $BostonGrayTint;
        border-left: 2px solid $BostonGrayTint;
        position: relative;
        flex-grow: 1;
        display: flex;
        flex-direction: column;

        &.noimage {
          border-top: 2px solid $BostonGrayTint;
          border-radius: 6px;
        }

        @include breakpoint(desktop) {
          padding: 32px;
        }

        .card_eyebrow {
          font-size: rem(13);
          line-height: 16.25px;
          text-transform: uppercase;
          color: $BostonOcean;
          font-family: $HelveticaBold;
          margin-bottom: 16px;
          word-wrap: break-word;
          @include breakpoint(small-desktop) {
            font-size: rem(15);
            line-height: 18.75px;
          }
        }

        .card_title {
          font-size: 20px;
          font-style: normal;
          font-weight: normal;
          line-height: 26px;
          font-family: $MuseoSansBold;
          color: $BostonGray;
          margin-bottom: 16px;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 3;
          overflow: hidden;
          display: -webkit-box;
          text-transform: capitalize;
          @include breakpoint(small-desktop) {
            font-size: rem(24);
            line-height: 32px;
          }
        }

        .cta {
          position: relative;
          bottom: 0;
          left: 0;
          margin-top: auto;
          .link-arrow-btn--default {
            font-size: rem(16);
            font-style: normal;
            line-height: 22px;
            display: block;
            &:after {
              width: 14px;
              top: 5px;
            }
          }
        }
      }

      &:hover {
        .card_bottom_wrapper {
          background-color: $BostonBlue;
          border-color: $BostonBlue;
          .card_eyebrow,
          .card_title,
          .cta .link-arrow-btn--default {
            color: $White;
          }
          .cta .link-arrow-btn--default:after {
            background-image: url('../../../../icons/arrow_white.svg');
          }
        }
      }

      .box_link {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
      }
    }
  }
}
