@import '../../settings/settings.all';

.pager {
  position: relative;
  margin: 32px 0 0px;
  float: left;
  width: 100%;
  padding: 0 18px;
  @include breakpoint(small-desktop) {
    padding: 0;
    margin: 64px 0 0px;
  }

  &.more-pager-link {
    ul.pager__items {
      li.pager__item {
        display: none;

        &.is-active,
        &.pager__item--first,
        &.pager__item--last,
        &.pager__item--previous,
        &.pager__item--next {
          display: block;
        }
        &.is-active + .pager__item {
          display: block;
        }
        &:has(+ .is-active) {
          display: block !important;
        }
        &.hidden {
          display: none !important;
        }
      }
      li.pager__item[attr-kay='1'],
      li.pager__item[attr-kay='2'],
      li.pager__item[attr-kay='3'],
      li.pager__item[attr-kay='4'] {
        display: block;
      }
    }

    &.preve-morelink {
      ul.pager__items {
        li.pager__item[attr-kay='1'],
        li.pager__item[attr-kay='2'],
        li.pager__item[attr-kay='3'],
        li.pager__item[attr-kay='4'] {
          display: none;
        }
      }
    }

    &.last3active {
      ul.pager__items {
        li.pager__item--last {
          display: none !important;
        }
        li.pager__item:nth-last-child(-n + 4) {
          display: block;
        }
      }
    }

    ul.pager__items li.pager__item.pager__item--next::after,
    ul.pager__items li.pager__item.pager__item--previous::before {
      margin-top: 8px;
    }
  }

  ul.pager__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    @include breakpoint(small-desktop) {
      flex-wrap: nowrap;
    }

    li.pager__item {
      list-style-type: none;
      margin: 0;

      &:first-of-type {
        &.is-active {
          a {
            margin-left: 0;
          }
        }
      }

      &:last-of-type {
        &.is-active {
          a {
            margin-right: 0;
          }
        }
      }

      a {
        display: inline-block;
        background-color: $White;
        font-size: 14px;
        line-height: 22px;
        font-family: $HelveticaBold;
        text-align: center;
        overflow: hidden;
        text-decoration: none;
        border-radius: 6px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        margin: 0 8px;
        @include breakpoint(small-desktop) {
          font-size: rem(16);
          line-height: 24px;
          margin: 0 12px;
        }
        &:hover {
          color: $BostonOcean;
          text-decoration: underline;
        }
      }

      @include breakpoint(small-desktop) {
        margin: 0;
      }

      &.is-active {
        a {
          background-color: $BostonPink;
          color: $White;
          height: 30px;
          width: 30px;
          &:hover {
            text-decoration: none;
          }
        }
      }

      &.pager__item--ellipsis {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 0px;
        color: $BostonPink;
        margin: 0 8px;
        @include breakpoint(small-desktop) {
          margin: 0 12px;
        }
      }

      &.pager__item--previous {
        margin-right: 4px;
        margin-left: 0;
        position: relative;
        overflow: visible;
        display: flex !important;
        align-items: center;
        @include breakpoint(small-desktop) {
          margin-right: 12px;
        }
        a {
          font-weight: 400;
          font-family: $HelveticaRegular;
          color: $BostonGray;
          margin: 0;
          &:hover {
            text-decoration: none;
            color: $BostonOcean;
          }
        }
        &::before {
          content: '';
          width: 14px;
          background: url('data:image/svg+xml,%3Csvg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Crect y="6.875" width="16.875" height="2.25" rx="1.125" fill="%23C14991"/%3E%3Cpath d="M11.25 1.25L18 8L11.25 14.75" stroke="%23C14991" stroke-width="2.25" stroke-linecap="round"/%3E%3C/svg%3E');
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
          display: inline-block;
          height: 11px;
          transform: translateY(-50%) rotate(180deg);
          margin-top: 8px;
          margin-right: 10px;
        }
        &:hover {
          &:before {
            background: url('data:image/svg+xml,%3Csvg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Crect y="6.875" width="16.875" height="2.25" rx="1.125" fill="%23007DBA"/%3E%3Cpath d="M11.25 1.25L18 8L11.25 14.75" stroke="%23007DBA" stroke-width="2.25" stroke-linecap="round"/%3E%3C/svg%3E');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            display: inline-block;
            height: 11px;
          }
        }
      }

      &.pager__item--next {
        margin-left: 4px;
        margin-right: 0;
        position: relative;
        overflow: visible;
        display: flex !important;
        align-items: center;
        @include breakpoint(small-desktop) {
          margin-right: 0px;
          margin-left: 12px;
        }
        a {
          font-weight: 400;
          font-family: $HelveticaRegular;
          color: $BostonGray;
          margin: 0;
          &:hover {
            text-decoration: none;
            color: $BostonOcean;
          }
        }
        &::after {
          content: '';
          width: 14px;
          background: url('data:image/svg+xml,%3Csvg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Crect y="6.875" width="16.875" height="2.25" rx="1.125" fill="%23C14991"/%3E%3Cpath d="M11.25 1.25L18 8L11.25 14.75" stroke="%23C14991" stroke-width="2.25" stroke-linecap="round"/%3E%3C/svg%3E');
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
          display: inline-block;
          height: 11px;
          transform: translateY(-50%);
          margin-top: 8px;
          margin-left: 10px;
        }
        &:hover {
          &:after {
            background: url('data:image/svg+xml,%3Csvg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Crect y="6.875" width="16.875" height="2.25" rx="1.125" fill="%23007DBA"/%3E%3Cpath d="M11.25 1.25L18 8L11.25 14.75" stroke="%23007DBA" stroke-width="2.25" stroke-linecap="round"/%3E%3C/svg%3E');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            display: inline-block;
            height: 11px;
          }
        }
      }

      &.pager__item--first,
      &.pager__item--last {
        display: none;
      }
    }
  }
}
